body {
  background-color: #192a56;
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

.navbar-brand img {
  max-height: 40px;
}

.nabvar {
  max-height: 20px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #0c2461 !important;
  font-weight: bold;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  font-size: 30px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rosybrown !important;
}

header {
  padding: 180px 0 165px;
  background-image: url("/frontend/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -70px;
}

header h1, header p {
  font-weight: bold;
  color: white;
}

header h1 {
  font-family: 'Playfair Display',serif;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started a {
  font-weight: bold;
  color: white;
}

main {
  margin-top: -40px !important;
  margin: auto;
  margin-bottom: 0;
  max-width: 720px;
  height: 100px;
  background-color: #192a56 !important;
}

main .statistik {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .statistik p {
  font-weight: bold;
  font-size: 20px;
}

.wisata-container {
  margin-top: -10px !important;
  width: 100%;
  height: 400px;
}

.wisata-container .wisata-popular {
  margin-top: 50px;
  margin-bottom: 100px;
}

.wisata-container .wisata-popular h2, .wisata-container .wisata-popular p {
  color: white;
}

.wisata-container .wisata-popular h2 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
}

.wisata-container .container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wisata-container .container-card .card-satu {
  height: 404px;
  width: 304px;
  background-image: url("/frontend/images/card1.jpg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 2px;
}

.wisata-container .container-card .card-satu .btn-view {
  height: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.wisata-container .container-card .card-dua {
  height: 404px;
  width: 304px;
  background-image: url("/frontend/images/card2.jpg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 2px;
}

.wisata-container .container-card .card-dua .btn-view {
  height: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.wisata-container .container-card .card-tiga {
  height: 404px;
  width: 304px;
  background-image: url("/frontend/images/card3.jpg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 2px;
}

.wisata-container .container-card .card-tiga .btn-view {
  height: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.wisata-container .container-card .card-empat {
  height: 404px;
  width: 304px;
  background-image: url("/frontend/images/card4.jpg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 2px;
}

.wisata-container .container-card .card-empat .btn-view {
  height: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.our-networks-container {
  width: 100%;
  height: 600px;
  background-color: white;
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-networks-container .our-networks {
  margin-top: 100px;
}

.our-networks-container .our-networks h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Playfair Display',serif;
}

.our-networks-container .our-networks p {
  font-size: 20px;
}

.our-networks-container .logo-sponsor {
  margin-top: 100px;
}

.our-networks-container .logo-sponsor img {
  height: 120px;
}

.testimonial-container {
  height: 400px;
  background-color: white;
}

.testimonial-container h2 {
  font-family: 'Playfair Display',serif;
  font-weight: bold;
  font-size: 50px;
}

.testimonial-container h2, .testimonial-container p {
  text-align: center;
}

.testimonial-container p {
  font-weight: 25px;
}

.testimonial-container .card-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonial-container .card-testimonial .card {
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 3px #636e72;
          box-shadow: 2px 2px 3px #636e72;
}

.testimonial-container .card-testimonial img {
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=main.css.map */